{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "external-helpers",
    "babel-plugin-transform-class-properties"
  ]
}