{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "off",
    "react/forbid-prop-types": "off",
    "no-confusing-arrow": "off",
    "indent": [
			"error",
			2,
			{
				"SwitchCase": 1
			}
    ],
    "react/jsx-indent": [
			"error",
			2
		],
		"react/jsx-indent-props": [
			"error",
			2
    ],
    "react/jsx-curly-spacing": "off",
    "import/extensions": "off",
    "import/first": "off",
    "object-curly-newline": "off",
		"template-tag-spacing": "off"
  }
}